<html>
  <head>
    <title>This is Home</title>
  </head>
  <body>
    <h1>Want to know about Alpha Blog?</h1>
    <h2>Here are the basics to know:</h2>
    <ul type="square">
      <li>Things</li>
      <li>Stuff</li>
      <li>and <em>so</em> much <strong>more!</strong></li>
    </ul>
    
    <%= link_to 'Home', root_path %>
    
  </body>
</html>