<html>
  <head>
    <title>This is Home</title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1>ALPHA BLOG</h1>
    </ul>
    <%= link_to 'Sign Up Now', "#", class: "btn btn-primary btn-xlarge" %>
    </div>
  </body>
</html>