<html>
  <head>
    <title>This is Home</title>
  </head>
  <body>
    <h1>This is this home of Alpha Blog!</h1>
    <h2>Alpha Blog does all kind of things:</h2>
    <ul type="square">
      <li>Things</li>
      <li>Stuff</li>
      <li>and <em>so</em> much <strong>more!</strong></li>
    </ul>
    
    <%= link_to 'About', about_path %>
    
  </body>
</html>