$navbar-default-bg: #669900;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  
}

#logo:hover {
  color:#fff;
  text-decoration: none;
}

.center {
  text-align:center;
}