<div class="footer" >
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://udemy.com">The Complete Ruby On Rails Developer</a>
      by <a href="www.mashrurhossain.com/">Mashrur Hossain</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>